.home_clock {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock_digit {
  width: 100px;
  height: 150px;
  margin: 0 1px 0 1px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  font-size: 32px;
}

.clock_digit:hover {
  background-color: #eaeaea;
}

.flip {
  transform: rotateX(180deg);
  transition: all 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s;
}

.clock_seperator {
  margin: 0 4px 7px 4px;
  font-size: 30px;
}